<ion-content padding>

	<div class="content-app" text-center>
		<div class="custom-login">
			<div>
				<img src="/assets/imgs/logo.png">
				<div class="autor-name"><b>Lic. Ruth Rosario Coaquira</b></div>
			</div>
			<ion-card>
			  <ion-card-content>
			    
			    <h4>INICIAR SESIÓN</h4>

			    <ion-list no-lines>

		          <ion-item>
		            <ion-label>Email</ion-label>
		            <ion-input [(ngModel)]="userData.email" type="text" (keyup)="validationUp('email')" class="lower"></ion-input>
		          </ion-item>
		          <div class="error"><span *ngIf="!validation.email.valid">{{validation.email.msg}}</span></div>
		  
		          <ion-item>
		            <ion-label>Contraseña</ion-label>
		            <ion-input [(ngModel)]="userData.password" [type]="hidePassword ? 'password' : 'text'" (keyup)="validationUp('password')"></ion-input>
		            <ion-icon slot="end" class="z-eye-icon" [name]="hidePassword ? 'md-eye' : 'md-eye-off'" (click)="hidePassword = !hidePassword" item-right></ion-icon>
		          </ion-item>
		          <div class="error"><span *ngIf="!validation.password.valid">{{validation.password.msg}}</span></div>

		          <ion-item class="toggle-login">
		            <ion-label class="text-right">Recordar Usuario</ion-label>
		            <ion-toggle [(ngModel)]="userData.remember" checked="false"></ion-toggle>
		          </ion-item>

		          <div class="buttons-content">
		            <ion-grid>
		              <ion-row>
		                <ion-col col-12>
		                  <button ion-button round block type="submit" class="jump-btn" (click)="login()">Ingresar</button>
		                </ion-col>
		              </ion-row>
		              <ion-row>
		                <ion-col col-12>
		                  <button ion-button round block class="custom-btn" (click)="goToRegister()">Regístrate</button>
		                </ion-col>
		              </ion-row>
		            </ion-grid>
		          </div>

		        </ion-list>

			  </ion-card-content>
			</ion-card>
		</div>
	</div>

</ion-content>
