<ion-content padding>

	<div class="content-app" text-center>

		<div class="div-btn-header">
  			<button><ion-icon (click)="goToHome()" name="arrow-back"></ion-icon></button>
  		</div>

  		<div class="custom-games">
  			<div>
  				<img src="/assets/imgs/logo.png">
  				<h4>{{creator.name}}</h4>
  				<p>{{creator.description}}</p>
  			</div>
		</div>

  		<div class="cards-list" *ngIf="challenges && challenges.length">
	        <ion-card *ngFor="let challenge of challenges; let i = index;">
	          <ion-card-header (click)="checkToGame(challenge)" [class]="challenge.code.trim() == '' ? 'card-header card-header-md' : 'card-header card-header-md key-bg'">
	            <label>{{challenge.name}}</label><br>
	            <span><ion-icon name="trophy"></ion-icon>: </span>{{challenge.points}}&nbsp;&nbsp;&nbsp;
	            <span><ion-icon name="alarm"></ion-icon>: </span>{{challenge.time}} s&nbsp;&nbsp;&nbsp;
	            <span><ion-icon name="bulb"></ion-icon>: </span>{{challenge.rows}}&nbsp;&nbsp;&nbsp;
	            <i *ngIf="challenge.results.length">
	            	<span><ion-icon name="flag"></ion-icon>: </span>{{challenge.results[0].attemps}}
	        	</i>
	        	<i *ngIf="!challenge.results.length">
	            	<span><ion-icon name="flag"></ion-icon>: </span>0
	        	</i>
	        	<span *ngIf="challenge.code.trim() != ''" class="abs-span"><ion-icon name="lock"></ion-icon></span>
	          </ion-card-header>
	        </ion-card>
	     </div>

	     <div class="cards-list" *ngIf="!challenges || !challenges.length">
	        <ion-card>
	          <ion-card-header>
	           <span>No tiene desafios activos</span>
	          </ion-card-header>
	        </ion-card>
	      </div>

		<!--div class="custom-start">
			<div class="custom-refresh">
				<label *ngIf="lastUpdated"><b>Actualizado:</b> {{ lastUpdated | date: 'dd/MM/yyyy HH:mm' }}</label>
				<button ion-button icon-only round outline (click)="updateUser()"><ion-icon name="person"></ion-icon></button>
				<button ion-button icon-only round outline (click)="getData()"><ion-icon name="refresh"></ion-icon></button>
			</div>
			<div>
				<img src="/assets/imgs/logo.png">
			</div>
			<div class="autor-name">Curso de Razonamiento Verbal:<br><b>Lic. Ruth Rosario Coaquira</b></div>
			<ion-grid  *ngIf="quizzes && quizzes.length" class="">
      			<ion-row>
      				<ion-col class="" col-3 col-sm-2 *ngFor="let quiz of quizzes; let i = index;">
      					<a *ngIf="!quiz.hasKey" ion-button class="custom-btn" round (click)="initGame(i)">{{quiz.title}}</a>
      					<a *ngIf="quiz.hasKey" ion-button class="custom-btn" round (click)="initGame(i)" style="background-color: red;">{{quiz.title}}</a>
      				</ion-col>
      			</ion-row>
      		</ion-grid>
		</div-->
	</div>  
</ion-content>
