<!--ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header-->

<ion-content padding>
	<div class="content-app" text-center>
		<div class="custom-start">
			<div class="custom-refresh">
				<label *ngIf="lastUpdated"><b>Actualizado:</b> {{ lastUpdated | date: 'dd/MM/yyyy HH:mm' }}</label>
				<button ion-button icon-only round outline (click)="updateUser()"><ion-icon name="person"></ion-icon></button>
				<button ion-button icon-only round outline (click)="getData()"><ion-icon name="refresh"></ion-icon></button>
			</div>
			<div>
				<img src="/assets/imgs/logo.png">
			</div>
			<div class="autor-name">Curso de Razonamiento Verbal:<br><b>Lic. Ruth Rosario Coaquira</b></div>
			<ion-grid  *ngIf="quizzes && quizzes.length" class="">
      			<ion-row>
      				<ion-col class="" col-3 col-sm-2 *ngFor="let quiz of quizzes; let i = index;">
      					<a *ngIf="!quiz.hasKey" ion-button class="custom-btn" round (click)="initGame(i)">{{quiz.title}}</a>
      					<a *ngIf="quiz.hasKey" ion-button class="custom-btn" round (click)="initGame(i)" style="background-color: red;">{{quiz.title}}</a>
      				</ion-col>
      			</ion-row>
      		</ion-grid>
			<!--button ion-button class="custom-btn" round large (click)="initGame()">
				Empezar&nbsp;&nbsp;<ion-icon ios="ios-create" md="md-create"></ion-icon>
			</button-->
		</div>
	</div>  
</ion-content>
