// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*.scroll-content{
    padding-bottom: 0px !important;
}*/

.scroll-content {
	background-image: url("../assets/imgs/bg.jpg");
	//background-color: #3a3c3e;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
/*.no-header .scroll-content, .no-header .fixed-content {
	margin-top: 0px !important;
}*/
.no-header .toolbar-background-md {
	background-color: transparent;
	border-color: transparent;
}
.error {
	height: 24px;
	font-size: 12px;
	color: red;
}
.error-msg {
	color: #ff0000;
}
.e-right {
	float: right;
}
.item-md.item-input.input-has-focus .item-inner, .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner, .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none;
}
.item-md .label-md {
	font-size: 14px;
}
.item-md ion-icon {
	z-index: 20;
	color: #999;
}
.div-btn-header {
	position: absolute;
	width: 100%;
	text-align: left;
}
.div-btn-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: left;
}
.div-btn-header button, .div-btn-footer button {
	background-color: transparent;
}
.div-btn-header button .icon-md, .div-btn-footer button .icon-md {
	color: #ffb100;
	margin: 0;
	background-color: rgba(255, 206, 93, .2);
    border-radius: 50%;
    padding: 10px 16px;
    font-size: 30px;
    font-weight: 700;
}
.text-right {
	text-align: right;
}
.toggle-md.toggle-checked .toggle-icon {
	background-color: rgba(255, 206, 93, .6);
}
.toggle-md.toggle-checked .toggle-inner {
	background-color: #ffb100;
}
.content-app, .content-app-game {
	height: 100%;
	position: relative;
}
.content-app .custom-login, .content-app .custom-register, .content-app .custom-home, .content-app .custom-games {
	margin: auto;
	text-align: center;
}
.content-app .custom-home img {
	margin-top: 50px;
}
.content-app .custom-login img, .content-app .custom-register img {
	margin-bottom: 10px;
	margin-top: 20px;
}
.content-app .custom-login .card-md, .content-app .custom-register .card-md {
	border-radius: 5px;
	padding-top: 14px;
}
.content-app .custom-login .card-md .item-md, .content-app .custom-register .card-md .item-md {
	background-color: rgba(255, 206, 93, .3);
}
.content-app .custom-login .card-md .item-md.toggle-login {
	background-color: #fff;	
}
.content-app .custom-login .custom-btn {
	background-color: #444f68;
	width: 100%;
	border: 1px solid #444;
}
.content-app .custom-login .jump-btn, .content-app .custom-register .jump-btn {
	background-color: #ffb100;
	width: 100%;
	border: 1px solid #ffbc20;
}
.content-app .custom-login .text-right {
	color: #999;
}
.content-app .custom-login h4, .content-app .custom-register h4 {
	font-size: 16px;
    padding-bottom: 16px;
    color: #444f68;
    font-weight: 500;
}
.content-app .custom-start {
	position: absolute;
	right: 0;
	left: 0;
	top: 20px;
	bottom: 0;
	margin: auto;
	text-align: center;
	width: 90%;
	//height: %;
}
.content-app .custom-start .custom-refresh {
	position: absolute;
	right: 0;
}
.content-app .custom-start .custom-refresh .button-outline-md {
	color: #ffb100;
	border-color: #ffb100;
}
.content-app .custom-start .custom-btn {
	background-color: #444f68;
	width: 100%;
	border: 1px solid #444;
}
.content-app .custom-start img {
	margin-bottom: 40px;
	margin-top: 60px;
}
.content-app .custom-games img {
	margin-top: 20px;
	width: 160px;
}
.content-app .custom-games h4 {
	color: #fff;
	margin-top: 5px;
}
.content-app .custom-games p {
	color: #fff;
	margin-bottom: 16px;
}
.content-app .result-img img {
	width: 80%;
	position: relative;
	top: 0;
}
.content-app-game .game-time, .content-app .game-score {
	font-size: 24px;
}
.content-app-game .game-time {
	border: 2px inset #ffb100;
	color: #444f68;
	font-weight: 700;
	background-color: #eee;
}
.content-app-game .game-score {
	color: #444f68;
	text-align: left;
}
.content-app-game .game-score b {
	color: #ffb100;
	font-size: 24px;
}
.content-app-game .game-score span {
	font-size: 20px;
	color: #eee;
}
.content-app-game .game-point {
	margin-top: 20px;
	color: #ffb100;
	font-size: 16px;
}
.content-app-game .game-title {
	font-size: 24px;
	color: #eee;
	font-weight: 600;
	margin-top: 15px;
}
.content-app-game .game-clue {
	color: #eee;
	font-weight: 400;
	font-size: 22px;
}
.content-app-game .game-answer input {
	border: 2px solid rgba(79, 104, 68, 0.2);
	padding: 10px;
	text-align: center;
	margin-top: 25px;
	font-size: 18px;
	background-color: rgba(255, 255, 255, 0.8);
}
.content-app-game .jump-btn {
	background-color: #ffb100;
}
.content-app-game .row-label {
	margin-top: 30px;
	margin-bottom: 10px;
}
.content-app-game .custom-label-quiz {
	padding: 5px 1px;
}
.content-app-game .custom-label-quiz div {
	padding: 5px 0px;
	border-radius: 5px;
	border: solid;
	color: #fff;
	font-size: 14px;
	white-space: nowrap;
}
.content-app-game .check-btn {
	background-color: #444f68;
}
.content-app-game .jump-btn:hover:not(.disable-hover) {
	background-color: #ffb100;
	opacity: 0.8;
}
.content-app-game .check-btn:hover:not(.disable-hover) {
	background-color: #444f68;
	opacity: 0.8;
}
.toast-successful .toast-message, .toast-wrong .toast-message {
	text-align: center;
	font-weight: 600;
}
.toast-successful .toast-wrapper, .toast-wrong .toast-wrapper {
	background-color: #eee;
}
.toast-successful .toast-message {
	color: #05ba12;
}
.toast-wrong .toast-message {
	color: #ea0707;
}
.content-app .result-statistics {
	padding: 2px 5px;
}
.content-app .result-statistics span {
	font-size: 16px;
	color: #ffb100;
}
.content-app .result-statistics b {
	color: #444f68;	
}
.content-app .content-result {
	margin: 5px 0px;
	padding: 20px 0px;
	background-color: #fff;
	border-radius: 5px;
}
.content-app .result-btn {
	background-color: #444f68;
	margin-bottom: 40px;
}
.content-app .result-title {
	margin-top: 25px;
	color: #eee;
}
.content-app .result-quizzes {
	font-size: 12px;
	color: #444f68;
	margin-bottom: 20px;
	border-radius: 5px;
}
.bg-color-0 {
	color: #fff;
	background-color: rgba(104, 68, 79, 0.8);
}
.bg-color-1 {
	color: #fff;
	background-color: rgba(79, 104, 68, 0.8);
}
.result-score {
	color: #fff;
}
.autor-name {
	margin-top: -30px;
	margin-bottom: 20px;
	font-size: 16px;
	color: #eee;
}
.content-app .custom-start .custom-refresh label {
	font-size: 12px;
	color: #eee;
}
.cards-list .card {
	border-radius: 5px;
}
.cards-list .card .card-header {
	font-size: 16px;
	position: relative;
}
.cards-list .card .card-header.disabled {
	background-color: #ccc;
}
.cards-list .card .card-header label {
	font-weight: 600;
}
.cards-list .card .card-header span {
	font-size: 12px;
}
.cards-list .card .card-header.key-bg {
	background-color: #ffb100;
}
.cards-list .card .card-header .abs-span {
	position: absolute;
	top: 6px;
    left: 10px;
    font-size: 20px;
}
/*ion-app.md [padding] .scroll-content {
	padding-bottom: 100px !important;
}*/
/*.input-cover {
	position: relative;
}*/